Source: pleco
Maintainer: Tuomas Kulve <tuomas@kulve.fi>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: cdbs, debhelper (>= 9), libdrm-dev, qtbase5-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev

Package: pleco
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pleco remote controlled vehicle
 Pleco is a remote controlled vehicle, the controller UI to remote
 control it and a slave application that handles the vehicle's
 hardware.
